<div class="container">
    <img src="../assets/images/it1.png" style="width: 100% ; height: 250px;">
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="background-attachment: fixed;;background: black;"  >
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="trangchu"  style='font-size:30px'> <i class='fas fa-home'></i>Trang
                        Chủ</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="gioithieu"  style='font-size:30px'><i class="fa">&#xf03a;</i>Giới Thiệu
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lienhe"  style='font-size:30px'><i class='fas fa-phone' ></i>
                        Liên Hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gopy"  style='font-size:30px'><i class='far fa-envelope' ></i> Góp
                        Ý</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="hoidap" tabindex="-1" aria-disabled="true"  style='font-size:30px'><i
                            class='far fa-question-circle' ></i>
                        Hỏi Đáp</a>
                </li>

            </ul>
            <div class="btn-group" style="float: right">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="background: blanchedalmond;color: black;margin-top: 10px;">
                    LoGin
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="login">Đăng Nhập</a>
                    <a class="dropdown-item" href="dangky">Đăng Ký</a>
                    <a class="dropdown-item" href="doimk">Đổi Mật Khẩu</a>
                    <a class="dropdown-item" href="quenmk">Quên Mật Khẩu</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Sửa Tài Khoản</a>
                    <a class="dropdown-item" href="danhmucmh">Môn Học</a>
                    <a class="dropdown-item" href="thitn">Phần Thi Trắc Nghiệm</a>
                </div>
            </div>
        </div>
    </nav>

    <br>

    <div class="row">
        <div class="col-md-8">

            <i class='fas fa-graduation-cap' style='font-size:26px;color:red ; text-align: center; ' > </i> <b style='font-size:26px;color:white ; background: grey;; text-align: center; width: 100%;'> Hoạt Động Sinh Viên </b>
            <br>
            <img src="../assets/images/thaymuaitc.jpg" style="width: 100% ">

            <b> Ngày hội 20-11 Tại ITC - Thầy Mua và tập thể giáo viên ITC 2019</b> <br>

            🔥🔥🔥Hình ảnh Lễ khai giảng - Lễ tốt nghiệp năm 2019 - Chào mừng 37 năm ngày nhà giáo Việt Nam 20/11 ‼️
            <br>
            <br>
            <i class='fas fa-laptop-code' style='font-size:26px;color:red'></i> <b style='font-size:26px;color:white ; background: grey;; text-align: center; width: 100%;'> Hình ảnh sinh viên nhận học bổng</b>
            <br>
            <img src="../assets/images/hocbong_3.jpg" style="width: 100% ">
            <b > Gương mặt nhận học bổng ITC 2019</b> 
            <br>
            Trải qua biết bao cố gắng và nỗ lực hết mình trên đây là 
            những thành quả mà các bạn đã đạt được sau 3 học kì mài dũa nhân phẩm và học tập của bản thân.
            <br>
            <br>
            <i class='fas fa-user-graduate' style='font-size:26px;color:red'></i><b style='font-size:26px;color:white ; background: grey;; text-align: center; width: 100%;'> Tin Tuyển Sinh</b>
            <br>
            <img src="../assets/images/totnghiep.jpg" style="width: 100% ">

            <B > Sinh Viên Tốt Nghiệp 2019</B>
            <Br>

            Chúc mừng các bạn đã tốt nghiệp năm 2019 - Chúc các bạn thành công khi bước ra trường đời, các bạn sẻ là mầm móng của tôt Quốc,
            chúc các bạn có công việc ổn định và khi thành công luôn nhớ về mái trường thân thương này. 
            <br>
            <br>






         
        </div>
        

        <div class="col-md-4">

          
            <div class="accordion" id="accordionExample">
                <div class="card" >
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <ul class="list-group" > 
                            <li class="list-group-item" data-toggle="collapse" data-target="#demo"><i
                                    class="fa fa-align-center" style="font-size:30px ;" > Môn Học</i>
                                <div id="demo" class="collapse">
                                    <ul class="list-group">
                                        <a class="btn btn-outline-dark" href="danhmucmh" role="button">Kiểm Thử Phần
                                            Mềm</a>
                                        <a class="btn btn-outline-dark" href="danhmucmh" role="button">SQL Sever</a>
                                        <li class="list-group-item">Lập trình Giao Diện web</li>
                                        <li class="list-group-item">Lập Trình Ứng Dụng Web</li>
                                        <li class="list-group-item">Lập trình Android nâng cao</li>
                                        <li class="list-group-item">Lập trình Android Siêu Nhân</li>
                                        <li class="list-group-item">Thiết kế Web</li>
                                        <li class="list-group-item">Thiết kê Web Phía Máy Chủ </li>
                                        <li class="list-group-item">Quản lý dự án với Aglie</li>
                                       
                                    </ul>
                                </div>
                        </ul>
                    </div>
                </div><Br>
                <i class='fas fa-award' style='font-size:26px;color:red'></i> Tin Nóng
                <br>
                <ul>
                    
                    <li style="text-align:justify"><span style="font-size:13px"><span
                                style="font-family:arial,helvetica,sans-serif">Tuyển sinh Đào tạo từ xa trình độ Đại học
                                năm 2019<img src="../assets/images/moi.gif"></span></span></li>
                    <li style="text-align:justify"><span style="font-size:13px"><span
                                style="font-family:arial,helvetica,sans-serif">Tuyển sinh đào tạo trình độ Tiến sĩ năm
                                2019 - Đợt 2 <img src="../assets/images/moi.gif"></span></span></li>
                    <li style="text-align:justify"><span style="font-size:13px"><span
                                style="font-family:arial,helvetica,sans-serif">Thông tin tuyển dụng <img
                                    src="../assets/images/moi.gif"></span></span></li>
                </ul>
                <!-- <div class="card">
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <ul class="list-group">
                        <li class="list-group-item" data-toggle="collapse" data-target="#station">
                            <i class='fas fa-table' style='font-size:24px'></i> NHÀ CUNG CẤP</li>
                        <div id="demo" class="collapse">
                            <ul class="list-group">
                                <li class="list-group-item" [routerLink]="['/dienthoai']">Điện thoại di động</li>
                                <li class="list-group-item">Máy tính xách tay</li>
                                <li class="list-group-item">Máy tính để bàn</li>
                                <li class="list-group-item">Quạt máy</li>
                                <li class="list-group-item">Tivi</li>
                                <li class="list-group-item">Tủ lạnh</li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <ul class="list-group">
                        <li class="list-group-item" data-toggle="collapse" data-target="#station1">
                            <i class='fas fa-star' style='font-size:24px'></i> HÀNG ĐẶC BIỆT</li>
                        <div id="demo" class="collapse">
                            <ul class="list-group">
                                <li class="list-group-item" [routerLink]="['/dienthoai']">Điện thoại di động</li>
                                <li class="list-group-item">Máy tính xách tay</li>
                                <li class="list-group-item">Máy tính để bàn</li>
                                <li class="list-group-item">Quạt máy</li>
                                <li class="list-group-item">Tivi</li>
                                <li class="list-group-item">Tủ lạnh</li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div> -->

            </div>
            <!-- end card accordion -->
        </div>
        <!-- end col-md-4 -->
    </div>
    <!-- end row -->
    <!-- hiện thông báo -->
    <!-- <form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">
        <input type="text" name="emailid" placeholder="emailid" ngModel>
        <br />
        <input type="password" name="passwd" placeholder="passwd" ngModel>
        <br />
        <input type="submit" value="submit">
    </form> -->
    <!-- lưu tên tài khoản -->
    <!-- <div>
        <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
            <input type="text" class="fortextbox" name="emailid" placeholder="emailid" formControlName="emailid">
            <br />

            <input type="password" class="fortextbox" name="passwd" placeholder="passwd" formControlName="passwd">
            <br />

            <input type="submit" class="forsubmit" value="Log In">
        </form>
    </div>
    <p>
        Email entered is : {{emailid}}
    </p> -->
    <!-- kiểm tra tài khoản và mật khẩu có hợp lệ không -->
    <br>
    
    <p>
        Email entered is : {{emailid}}
    </p>
    <div>
        <img src="../assets/images/end.jpg" style="width: 100%; height: 400px; " alt="">
    </div>
    <div class="container" style="background: cornsilk">
        <div class="backpage">
            <div class="row1">
               
                
                
            </div>
        </div>
    </div>
</div>